@font-face {
  font-family: "Chocho";
  src: url(fonts/Chocho-Aura-Demo.ttf);
}

.title {
  font-family: "Chocho";
  font-size: 50px;
  position: fixed;
  top: 0px;
  left: 0px;
  color: white;
  background-color: black;
  padding: 20px;
  border-radius: 50px;
  margin: 0;
}

body {
  margin: 0;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

/* Blurred background */
body::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("images/better_roku_bg.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(8px);        /* adjust blur strength */
  z-index: -1;              /* keeps it behind your content */
}

.music-card-container {
  height: 450px;
  width: 400px;
  background-color: rgb(58, 57, 57);
  border-radius: 30px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;   /* horizontal center */
  justify-content: center; /* vertical center */
}

.music-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.radio-name{
  color: white;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.audio {
}

.prev-button, .next-button{
  height: 50px;
  width: 90px;
  border-radius: 20px;
  color: white;
  background-color: rgb(132, 36, 211);
  cursor: pointer;
  border: none;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  transition: background-color 0.15s;
}

.prev-button:hover, .next-button:hover{
  background-color: rgb(109, 35, 169);
}


.prev-next-buttons{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 10px;
  justify-content: space-evenly;
}

.search-box-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}



.search-box{
  margin-top: 10px;
  width: 600px;
  height: 60px;
  padding-left: 15px;
  font-size: 25px;
  border: none;
  background-color: rgb(42, 42, 42);
  color: white;
  border-radius: 40px;
}

.search-box::placeholder{
  font-size: 20px;
  margin-left: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


